<!-- BUTTON Style -->
<h2 class="weight-800 f-typoslab button-pos">BUTTONS</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.
</p>
<h3 class="weight-800 f-typoslab mbottom-1">Standard Buttons</h3>
<p>
	Menggunakan standard button yang tersedia untuk membuat gaya tombol yang cepat.
</p>
<div class="block-example a-center">
	<button type="button" class="gp-btn default-btn">Default</button>
	<button type="button" class="gp-btn basic-btn">Basic Button</button>
	<button type="button" class="gp-btn alert-btn">Alert Button</button>
	<button type="button" class="gp-btn basic-btn" disabled="disabled">Basic Disabled</button>
	<button type="button" class="gp-btn default-btn" disabled="disabled">Default Disabled</button>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Customize Buttons</h3>
<p>
	Anda juga dapat memodifikasi tombol sesuai selera anda dengan pilihan warna background dan warna teks yang tersedia. Tambahkan class <code>.blue</code> untuk membuat tombol dengan background biru dan tambahkan lagi class <code>.txt-white</code> jika anda ingin membuat teks berwarna putih.
</p>
<div class="block-example a-center">
	<button type="button" class="gp-btn blue txt-white">Blue</button>
	<button type="button" class="gp-btn green txt-white">Green</button>
	<button type="button" class="gp-btn black txt-white">Black</button>
	<button type="button" class="gp-btn red txt-white">Black</button>
	<button type="button" class="gp-btn yellow">Black</button>
	<button type="button" class="gp-btn orange">Orange</button>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Button Sizes</h3>
<p>
	Tambahkan <code>.large-btn</code> untuk tombol besar, <code>.medium-btn</code> untuk tombol standard atau <code>.small-btn</code> untuk tombol kecil.
</p>
<div class="block-example a-center">
	<p>
		<button type="button" class="gp-btn default-btn btn-large">Large button</button>
		<a href="#" class="gp-btn basic-btn btn-large">Large button</a>
		<input type="submit" class="gp-btn blue txt-white btn-large" value="Large button">
	</p>
	<p>
		<button type="button" class="gp-btn default-btn">Default button</button>
		<a href="#" class="gp-btn basic-btn">Default button</a>
		<input type="submit" class="gp-btn blue txt-white" value="Default button">
	</p>
	<p>
		<button type="button" class="gp-btn default-btn btn-small">Small button</button>
		<a href="#" class="gp-btn basic-btn btn-small">Small button</a>
		<input type="submit" class="gp-btn blue txt-white btn-small" value="Small button">
	</p>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Active button</h3>
<p>
	Hanya tambahkan class <code>.active</code> pada tag tombol / link tombol
</p>
<div class="block-example a-center">
	<p>
		<button type="button" class="gp-btn default-btn active">Active button</button>
		<a href="#" class="gp-btn basic-btn active">Active link button</a>		
	</p>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Group Buttons</h3>
<p>
	Mengelompokan tombol dalam satu line, gunakan container class <code>.group-btn</code> untuk melakukan grouping button.
</p>
<div class="block-example">
	<div class="group-btn">
		<button type="button" class="gp-btn default-btn btn-large">Button</button>
		<button type="button" class="gp-btn default-btn btn-large">Button</button>
		<button type="button" class="gp-btn default-btn btn-large">Button</button>
	</div>
	<div class="group-btn mleft-1">
		<a href="#" class="gp-btn default-btn btn-large">Button Link</a>
		<a href="#" class="gp-btn default-btn btn-large">Button Link</a>
		<a href="#" class="gp-btn default-btn btn-large">Button Link</a>
	</div>
	<br/><br/>
	<div class="group-btn">
		<button type="button" class="gp-btn default-btn">Button</button>
		<button type="button" class="gp-btn default-btn">Button</button>
		<button type="button" class="gp-btn default-btn">Button</button>
	</div>
	<div class="group-btn mleft-1">
		<a href="#" class="gp-btn default-btn">Button Link</a>
		<a href="#" class="gp-btn default-btn">Button Link</a>
		<a href="#" class="gp-btn default-btn">Button Link</a>
	</div>
	<br/><br/>
	<div class="group-btn">
		<button type="button" class="gp-btn default-btn btn-small">Button</button>
		<button type="button" class="gp-btn default-btn btn-small">Button</button>
		<button type="button" class="gp-btn default-btn btn-small">Button</button>
	</div>
	<div class="group-btn mleft-1">
		<a href="#" class="gp-btn default-btn btn-small">Button Link</a>
		<a href="#" class="gp-btn default-btn btn-small">Button Link</a>
		<a href="#" class="gp-btn default-btn btn-small">Button Link</a>
	</div>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Group Buttons Justified</h3>
<p>
	Tambahkan class <code>.group-btn-justify</code> untuk membuat justified alignment buttons.
</p>
<div class="block-example">
	<div class="group-btn group-btn-justify">
		<a href="#" class="gp-btn default-btn">Button Link</a>
		<a href="#" class="gp-btn default-btn">Button Link</a>
		<a href="#" class="gp-btn default-btn">Button Link</a>
	</div>
	<br/>
	<div class="group-btn group-btn-justify">
		<div class="group-btn">
			<button type="button" class="gp-btn default-btn">Button</button>
		</div>
		<div class="group-btn">
			<button type="button" class="gp-btn default-btn">Button</button>
		</div>
		<div class="group-btn">
			<button type="button" class="gp-btn default-btn">Button</button>
		</div>
	</div>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>