<!-- HELPER Style -->
<h2 class="weight-800 f-typoslab helper-pos">HELPER</h2>

<h3 class="weight-800 f-typoslab mbottom-1">Quick Floats</h3>
<p>
	Untuk mempermudah anda melakukan floating align (left anf right), tambahkan class <code>.right</code> untuk Float Right dan class <code>.left</code> untuk Float Left.
</p>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"right"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"left"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Show and Hide contents</h3>
<p>
	Tambahkan class <code>.hide</code> untuk menyembunyikan konten dan tambahkan class <code>.show</code> untuk menampilan konten.
</p>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"hide"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"show"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>