<h2 class="weight-800 f-typoslab dropdown-pos">Galss Modal</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h3 class="weight-800 f-typoslab mbottom-1">Examples</h3>

<div class="block-example">
	<div id="yourID" class="galss-modal-example">
		<div class="modal-block">
			<div class="modal-content">
				<h3>Heading popup body</h3>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<h4>Footer here</h4>
			</div>
		</div>
	</div>
</div>
<div class="html-example">
	<pre>
		<code>

		</code>
	</pre>
</div>

<h4 class="weight-800 f-typoslab mtop-2 mbottom-1">Demo</h4>

<div class="block-example-demo">
	<button type="button" class="gp-btn basic-btn" modal-target-id="#yourmodalID">View Modal Small</button>
	<button type="button" class="gp-btn basic-btn" modal-target-id="#yourmodalID2">View Modal Default</button>
	<button type="button" class="gp-btn basic-btn" modal-target-id="#yourmodalID3">View Modal Large</button>
	<button type="button" class="gp-btn basic-btn" modal-target-id="#yourmodalID4">View Modal Fullsize</button>
	<div id="yourmodalID" class="galss-modal">
		<div class="modal-block small">
			<div class="modal-content">
				<!-- Content here -->
				<h2 class="weight-800 mtop-0">Modal Header Small</h2>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
				<p>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>

	<div id="yourmodalID2" class="galss-modal">
		<div class="modal-block">
			<div class="modal-content">
				<!-- Content here -->
				<h2 class="weight-800 mtop-0">Modal Header Default</h2>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
				<p>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>

	<div id="yourmodalID3" class="galss-modal">
		<div class="modal-block large">
			<div class="modal-content">
				<!-- Content here -->
				<h2 class="weight-800 mtop-0">Modal Header Large</h2>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
				<p>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>

	<div id="yourmodalID4" class="galss-modal">
		<div class="modal-block fullsize">
			<div class="modal-content">
				<!-- Content here -->
				<h2 class="weight-800 mtop-0">Modal Header Large</h2>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
				<p>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="html-example">
	<pre>
		<code>

		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>