<h3 class="weight-800 f-typoslab label-pos">Labels</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<div class="block-example for-label">
	<h1>Example Your Title <span class="label default">Labeled</span></h1>
	<h2>Example Your Title <span class="label default">Labeled</span></h1>
	<h3>Example Your Title <span class="label default">Labeled</span></h1>
	<h4>Example Your Title <span class="label default">Labeled</span></h1>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;h1&gt;</span><span>Example Your Title</span><span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label default"</span><span class="nt">&gt;</span><span>Labeled</span><span class="nt">&lt;/span&gt;</span><span class="nt">&lt;/h1&gt;</span>
		</code>
	</pre>
</div>

<h4 class="weight-800 f-typoslab mtop-2">Label Colors</h4>
<p>Your can add any colors to label for implement color what you want. Just add color class</p>
<div class="block-example for-label">
	<span class="label default">Default</span>
	<span class="label red">Default</span>
	<span class="label green">Default</span>
	<span class="label blue">Default</span>
	<span class="label orange">Default</span>
	<span class="label black">Default</span>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label default"</span><span class="nt">&gt;</span><span>Default</span><span class="nt">&lt;/span&gt;</span>
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label red"</span><span class="nt">&gt;</span><span>Red</span><span class="nt">&lt;/span&gt;</span>
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label green"</span><span class="nt">&gt;</span><span>Green</span><span class="nt">&lt;/span&gt;</span>
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label blue"</span><span class="nt">&gt;</span><span>Blue</span><span class="nt">&lt;/span&gt;</span>
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label orange"</span><span class="nt">&gt;</span><span>Orange</span><span class="nt">&lt;/span&gt;</span>
			<span class="nt"> &lt;span</span><span class="na"> class=</span><span class="s">"label black"</span><span class="nt">&gt;</span><span>Black</span><span class="nt">&lt;/span&gt;</span>
		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>