<!-- MARGIN Style -->
<h3 class="weight-800 f-typoslab mbottom-1">Margin System</h3>
<p>
	Tambahkan class <code>.m-*</code> / <code>.mleft-*</code> untuk mengatur margin sesuai kebutuhan Anda. Default ukuran margin adalah kelipatan 10 dengan range 1 - 20 (10px - 200px).
</p>

<div class="block-example-table">
	<table class="gp-table table-even table-hover">
		<thead>
			<tr>
				<th>Type</th>
				<th>Classes</th>
				<th>Size</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>All Margin</td>
				<td><code>.m-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Margin Top</td>
				<td><code>.mtop-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Margin Bottom</td>
				<td><code>.mbottom-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Margin Left</td>
				<td><code>.mleft-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Margin Right</td>
				<td><code>.mright-*</code></td>
				<td>1 - 20</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"m-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"mtop-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"mbottom-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"mleft-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"mright-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
		</code>
	</pre>
</div>
