<h2 class="weight-800 f-typoslab navs-pos">Navs</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<h3 class="weight-800 f-typoslab mbottom-1">Nav Tabs</h3>
<p>
	Tambahkan class <code>.navi-tabs</code> pada element class <code>.navi</code>.
</p>
<div class="block-example">
	<ul class="navi navi-tabs">
		<li class="active"><a href="javascript:void()">Home</a></li>
		<li><a href="javascript:void()">About</a></li>
		<li><a href="javascript:void()">Contact</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;ul</span><span class="na"> class=</span><span class="s">"navi navi-tabs"</span><span class="nt">&gt;</span>
				<span class="mleft-2 nt">&lt;li</span><span class="na"> class=</span><span class="s">"active"</span><span class="nt">&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Home</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>About</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Contact</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
			<span class="nt">&lt;/ul&gt;</span>
		</code>
	</pre>
</div>

<h4>Nav tabs justified</h4>
<p>
	Tambahkan class <code>.navi-justify</code>. Nav justified baik digunakan di screen 768px keatas.
</p>
<div class="block-example">
	<ul class="navi navi-tabs navi-justify">
		<li class="active"><a href="javascript:void()">Home</a></li>
		<li><a href="javascript:void()">About</a></li>
		<li><a href="javascript:void()">Contact</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;ul</span><span class="na"> class=</span><span class="s">"navi navi-tabs navi-justify"</span><span class="nt">&gt;</span>
				<span class="mleft-2 nt">&lt;li</span><span class="na"> class=</span><span class="s">"active"</span><span class="nt">&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Home</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>About</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Contact</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
			<span class="nt">&lt;/ul&gt;</span>
		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Nav Buttons</h3>
<p>
	Tambahkan class <code>.navi-buttons</code> pada element class <code>.navi</code>.
</p>
<div class="block-example">
	<ul class="navi navi-buttons">
		<li class="active"><a href="javascript:void()">Home</a></li>
		<li><a href="javascript:void()">About</a></li>
		<li><a href="javascript:void()">Contact</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;ul</span><span class="na"> class=</span><span class="s">"navi navi-buttons"</span><span class="nt">&gt;</span>
				<span class="mleft-2 nt">&lt;li</span><span class="na"> class=</span><span class="s">"active"</span><span class="nt">&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Home</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>About</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Contact</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
			<span class="nt">&lt;/ul&gt;</span>
		</code>
	</pre>
</div>

<h4>Nav buttons justified</h4>
<p>
	Tambahkan class <code>.navi-justify</code>.
</p>
<div class="block-example">
	<ul class="navi navi-buttons navi-justify">
		<li class="active"><a href="javascript:void()">Home</a></li>
		<li><a href="javascript:void()">About</a></li>
		<li><a href="javascript:void()">Contact</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;ul</span><span class="na"> class=</span><span class="s">"navi navi-buttons navi-justify"</span><span class="nt">&gt;</span>
				<span class="mleft-2 nt">&lt;li</span><span class="na"> class=</span><span class="s">"active"</span><span class="nt">&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Home</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>About</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
				<span class="mleft-2 nt">&lt;li&gt;</span><span class="nt">&lt;a</span><span class="na"> href=</span><span class="s">"#"</span><span class="nt">&gt;</span><span>Contact</span><span class="nt">&lt;/a&gt;</span><span class="nt">&lt;/li&gt;</span>
			<span class="nt">&lt;/ul&gt;</span>
		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>