<!-- Padding System -->
<h3 class="weight-800 f-typoslab mbottom-1">Padding System</h3>
<p>
	Tambahkan class <code>.p-*</code> / <code>.pleft-*</code> untuk mengatur padding sesuai kebutuhan Anda. Default ukuran padding adalah kelipatan 10 dengan range 1 - 20 (10px - 200px).
</p>

<div class="block-example-table">
	<table class="gp-table table-even table-hover">
		<thead>
			<tr>
				<th>Type</th>
				<th>Classes</th>
				<th>Size</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>All Padding</td>
				<td><code>.p-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Padding Top</td>
				<td><code>.ptop-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Padding Bottom</td>
				<td><code>.pbottom-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Padding Left</td>
				<td><code>.pleft-*</code></td>
				<td>1 - 20</td>
			</tr>
			<tr>
				<td>Padding Right</td>
				<td><code>.pright-*</code></td>
				<td>1 - 20</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"p-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"ptop-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"pbottom-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"pleft-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
			<span class="nt">&lt;div</span><span class="na"> class=</span><span class="s">"pright-2"</span><span class="nt">&gt;</span><span>.....</span><span class="nt">&lt;/div&gt;</span>
		</code>
	</pre>
</div>
