<h2 class="weight-800 f-typoslab pagi-pos">Pagination</h2>
<p>
	Simple pagination, hanya menambahkan class <code>.pagi</code> ke dalam element <code>&lt;ul&gt;</code>.
</p>
<h3 class="weight-800 f-typoslab mbottom-1">Default</h3>

<div class="block-example">
	<ul class="pagi">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Disable and Active pagination</h3>

<div class="block-example">
	<ul class="pagi">
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Pagination Sizes</h3>

<div class="block-example">
	<ul class="pagi pagi-large">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
	<br/>
	<ul class="pagi mtop-1">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
	<br/>
	<ul class="pagi pagi-small mtop-1">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>