<!-- TYPOGRAPHY -->
<h2 class="weight-800 f-typoslab typo-pos">TYPOGRAPHY</h2>
<h4 class="mbottom-1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
</h4>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
</p>

<h2 class="weight-800 f-typoslab mbottom-1 typo-headings-pos">Headings</h2>
<p>
	HTML heading, <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> atau dapat juga menggunakan <code>.h1</code> - <code>.h6</code> sesuai dengan kebutuhan dan keinginan Anda.
</p>

<div class="block-example">
	<table class="gp-table mbottom-0">
		<tr>
			<td><h1>Heading 1 Style &lt;h1&gt; .h1</h1><span class="typo-info">Font size 38px</span></td>
		</tr>
		<tr>
			<td><h2>Heading 2 Style &lt;h2&gt; .h2</h2><span class="typo-info">Font size 30px</span></td>
		</tr>
		<tr>
			<td><h3>Heading 3 Style &lt;h3&gt; .h3</h3><span class="typo-info">Font size 24px</span></td>
		</tr>
		<tr>
			<td><h4>Heading 4 Style &lt;h4&gt; .h4</h4><span class="typo-info">Font size 18px</span></td>
		</tr>
		<tr>
			<td><h5>Heading 5 Style &lt;h5&gt; .h5</h5><span class="typo-info">Font size 14px</span></td>
		</tr>
		<tr>
			<td><h6>Heading 6 Style &lt;h6&gt; .h6</h6><span class="typo-info">Font size 12px</span></td>
		</tr>
	</table>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;h1&gt;</span><span>Heading 1 Style &lt;h1&gt; .h1</span><span class="nt">&lt;/h1&gt;</span>
			<span class="nt">&lt;h2&gt;</span><span>Heading 2 Style &lt;h2&gt; .h2</span><span class="nt">&lt;/h2&gt;</span>
			<span class="nt">&lt;h3&gt;</span><span>Heading 3 Style &lt;h3&gt; .h3</span><span class="nt">&lt;/h3&gt;</span>
			<span class="nt">&lt;h4&gt;</span><span>Heading 4 Style &lt;h4&gt; .h4</span><span class="nt">&lt;/h4&gt;</span>
			<span class="nt">&lt;h5&gt;</span><span>Heading 5 Style &lt;h5&gt; .h5</span><span class="nt">&lt;/h5&gt;</span>
			<span class="nt">&lt;h6&gt;</span><span>Heading 6 Style &lt;h6&gt; .h6</span><span class="nt">&lt;/h6&gt;</span>
		</code>
	</pre>
</div>

<h3 class="mtop-2">Secondary Headings</h3>
<p>
	Anda juga dapat menggunakan gaya secondary heading untuk membuat lighter heading dengan memasukan tag HTML <code>&lt;small&gt;</code> kedalam tag heading.
</p>

<div class="block-example">
	<table class="gp-table mbottom-0">
		<tr>
			<td><h1>Heading 1 Style &lt;h1&gt; .h1 <small>Secondary heading</small></h1></td>
		</tr>
		<tr>
			<td><h2>Heading 2 Style &lt;h2&gt; .h2 <small>Secondary heading</small></h2></td>
		</tr>
		<tr>
			<td><h3>Heading 3 Style &lt;h3&gt; .h3 <small>Secondary heading</small></h3></td>
		</tr>
		<tr>
			<td><h4>Heading 4 Style &lt;h4&gt; .h4 <small>Secondary heading</small></h4></td>
		</tr>
		<tr>
			<td><h5>Heading 5 Style &lt;h5&gt; .h5 <small>Secondary heading</small></h5></td>
		</tr>
		<tr>
			<td><h6>Heading 6 Style &lt;h6&gt; .h6 <small>Secondary heading</small></h6></td>
		</tr>
	</table>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">
			<span class="nt">&lt;h1&gt;</span><span>Heading 1 Style &lt;h1&gt; .h1</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h1&gt;</span>
			<span class="nt">&lt;h2&gt;</span><span>Heading 2 Style &lt;h2&gt; .h2</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h2&gt;</span>
			<span class="nt">&lt;h3&gt;</span><span>Heading 3 Style &lt;h3&gt; .h3</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h3&gt;</span>
			<span class="nt">&lt;h4&gt;</span><span>Heading 4 Style &lt;h4&gt; .h4</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h4&gt;</span>
			<span class="nt">&lt;h5&gt;</span><span>Heading 5 Style &lt;h5&gt; .h5</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h5&gt;</span>
			<span class="nt">&lt;h6&gt;</span><span>Heading 6 Style &lt;h6&gt; .h6</span> <span class="nt"> &lt;small&gt;</span><span>Secondary heading</span><span class="nt">&lt;/small&gt;</span><span class="nt">&lt;/h6&gt;</span>
		</code>
	</pre>
</div>
<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>

<h2 class="weight-800 f-typoslab mbottom-1 typo-body-pos">Body</h2>
<p>
    Default font-size Body pada Galss adalah <strong>14px</strong>. Semua paragraf <code>&lt;p&gt;</code> dalam <code>&lt;body&gt;</code> memiliki default font-size <strong>14px</strong> dengan margin-bottom default adalah 10px.
</p>
<div class="block-example">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
    <p>
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse 
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="html-example">
    <pre>
        <code class="html mtop-2">
            <span class="nt">&lt;p&gt;</span> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.......</span> <span class="nt">&lt;/p&gt;</span>
        </code>
    </pre>
</div>
<h3 class="mtop-2">Stand Out Body Intro</h3>
<p>
    Membuat teks paragraf menonjol untuk intro dengan menambahkan <code>.intro</code>.
</p>
<div class="block-example">
    <p class="intro">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua  Ut enim ad minim veniam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="html-example">
    <pre>
        <code class="html mtop-2">
            <span class="nt">&lt;p </span> <span class="na"> class=</span><span class="s">"intro"</span><span class="nt">&gt;</span><span>Lorem ipsum dolor sit amet.......</span><span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p&gt;</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.......</span><span class="nt">&lt;/p&gt;</span>
        </code>
    </pre>
</div>
<h3 class="mtop-2">Small Text</h3>
<p>
    Menggunakan tag <code>&lt;small&gt;</code> untuk membuat teks menjadi lebih kecil, text size 85% dari parent tag. Atau dapat juga menggunakan selector <code>.small</code>.
</p>
<div class="block-example">
    <small>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </small>
</div>
<div class="html-example">
    <pre>
        <code class="html mtop-2">
            <span class="nt">&lt;small&gt;</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.....</span><span class="nt">&lt;/small&gt;</span>
        </code>
    </pre>
</div>
<h3 class="mtop-2">Bold, Italics, and Underline Text</h3>
<p>
    Default style untuk membuat teks menjadi <strong>bold</strong> / <em>italics</em> / <u>underline</u> dengan menggunakan tag <code>&lt;strong&gt;</code>, <code>&lt;em&gt;</code>, <code>&lt;u&gt;</code>.
</p>
<div class="block-example">
    <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit</p>
    <p><em>Lorem ipsum dolor sit amet,</em> consectetur adipisicing elit</p>
    <p><u>Lorem ipsum dolor sit amet,</u> consectetur adipisicing elit</p>
</div>
<div class="html-example">
    <pre>
        <code class="html mtop-2">
            <span class="nt">&lt;p&gt;</span><span class="nt">&lt;strong&gt;</span><span>Lorem ipsum dolor sit amet,</span><span class="nt">&lt;/strong&gt;</span> <span> consectetur adipisicing elit</span><span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p&gt;</span><span class="nt">&lt;em&gt;</span><span>Lorem ipsum dolor sit amet,</span><span class="nt">&lt;/em&gt;</span> <span> consectetur adipisicing elit</span><span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p&gt;</span><span class="nt">&lt;u&gt;</span><span>Lorem ipsum dolor sit amet,</span><span class="nt">&lt;/u&gt;</span> <span> consectetur adipisicing elit</span><span class="nt">&lt;/p&gt;</span>
        </code>
    </pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>

<h2 class="weight-800 f-typoslab mbottom-1 typo-fontface-pos">Font Face</h2>
<p>
    Anda dapat menggunakan variasi Font Face yang di sediakan pada Galss, menggunakan class <code>.f-*</code>. Misalnya anda ingin menggunakan jenis font TypoSlab, maka tambahkan class <code>f-typoslab</code> pada tag html Anda.
</p>
<p>
    Berikut adalah Font Face yang tersedia di Galss:
</p>
<div class="block-example">
    <table class="gp-table mbottom-0">
        <tr>
            <td><h2 class="f-chunkfive">Chunk Five webfont</h2><span class="typo-info">Font family : Chunkfive webfont (f-chunkfive)</td>
        </tr>
        <tr>
            <td><h2 class="f-league">League Ghotic webfont</h2><span class="typo-info">Font family : League Gothic webfont (f-league)</td>
        </tr>
        <tr>
            <td><h2 class="f-typoslab">Typo Slab Serif</h2><span class="typo-info">Font family : Typo Slab Serif light webfont (f-typoslab)</td>
        </tr>
        <tr>
            <td><h2 class="f-modernsans">Modern Sans Regular</h2><span class="typo-info">Font family : Modern Sans Regular webfont (f-modernsans)</td>
        </tr>
        <tr>
            <td><h2 class="f-allura">Allura Regular</h2><span class="typo-info">Font family : Allura Regular webfont (f-allura)</td>
        </tr>
        <tr>
            <td><h2 class="f-alfaslab">Alfa Slab One Regular</h2><span class="typo-info">Font family : Alfa Slab One Regular webfont (f-alfaslab)</td>
        </tr>
        <tr>
            <td><h2 class="f-amaranth">Amaranth Font Regular</h2><span class="typo-info">Font family : Amaranth Font Regular webfont (f-amaranth)</td>
        </tr>
        <tr>
            <td><h2 class="f-amaranthbold">Amaranth Font Bold</h2><span class="typo-info">Font family : Amaranth Font Bold webfont (f-amaranthbold)</td>
        </tr>
    </table>
</div>
<div class="html-example">
    <pre>
        <code class="html mtop-2">
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-chunkfive"</span><span class="nt">&gt;</span><span>Chunk Five webfont</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-league"</span><span class="nt">&gt;</span><span>League Gothic webfont</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-typoslab"</span><span class="nt">&gt;</span><span>Typo Slab Serif</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-modernsans"</span><span class="nt">&gt;</span><span>Modern Sans Regular</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-allura"</span><span class="nt">&gt;</span><span>Allura Regular</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-alfaslab"</span><span class="nt">&gt;</span><span>Alfa Slab One Regular</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-amaranth"</span><span class="nt">&gt;</span><span>Amaranth Font Regular</span><span class="nt">&lt;/h2&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na"> class=</span><span class="s">"f-amaranthbold"</span><span class="nt">&gt;</span><span>Amaranth Font Bold</span><span class="nt">&lt;/h2&gt;</span>
        </code>
    </pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>