<section class="head-intro">
	<div class="container">
    	<div class="gp-r">
    		<div class="gp-c4 txt-white">
    			<h1 class="weight-800 f-typoslab font-50 mbottom-2">Galss <small class="font-20">Simpler, better, faster, structured and very easy to use</small></h1>
    			<h4 class="opa-8">Stylesheet framework - Ease to write HTML and simplify stylesheet layout. You can use default setting to build your site faster or you can customize your own settings</h4>
    		</div>
    	</div>
    </div>
</section>

<section class="grid-system ptop-4 pbottom-4">
	<div class="container">
		<h1>Still inProgress | <small><%= link_to 'Stylesheet', stylesheetdocumentation_path %></small></h1>
	</div>
</section>