<section class="head-intro">
	<div class="container">
    	<div class="gp-r">
    		<div class="gp-c4 txt-white">
    			<h1 class="weight-800 f-typoslab font-50 mbottom-2">Documentations</h1>
    			<h4 class="opa-8">Galss documentations :: stylesheet & javascript</h4>
    		</div>
    	</div>
    </div>
</section>

<section class="grid-system ptop-4 pbottom-4">
	<div class="container">
		<div class="gp-r">
			<div class="gp-c3">
                <h2>Stylesheet <small>- Global stylesheet classes</small></h2>
                <p>
                    Global stylesheet layout settings and HTML elements styled with simple CSS classes. Simplify the Grid system. You can build your stylesheet faster.
                </p>
                <%= link_to(stylesheetdocumentation_path, class: "gp-btn gp-border-darkgrey mtop-2") do %>
                    View Documentation <i class="fa fa-plus"></i> <% end %>
            </div>
            <div class="gp-c3">
                <h2>Javascript <small> - Global javascript classes</small></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
                <%= link_to(javascriptdocumentation_path, class: "gp-btn gp-border-darkgrey mtop-2") do %>
                    View Documentation <i class="fa fa-plus"></i> <% end %>
            </div>
		</div>
	</div>
</section>