<section class="head-intro">
	<div class="container">
    	<div class="gp-r">
    		<div class="gp-c4 txt-white">
    			<h1 class="weight-800 f-typoslab font-50 mbottom-2">Getting Started</h1>
    			<h4 class="opa-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</h4>
    		</div>
    	</div>
    </div>
</section>

<section class="grid-system ptop-4 pbottom-4">
	<div class="container">
		<h1>Still inProgress | <small><%= link_to 'Stylesheet Documentations', 'documentations/stylesheet' %></small></h1>
	</div>
</section>