
@import "variables";
@import "mixins";

/*! ======= BUTTON STYLE ======= */

.gp-btn {
  padding: 7px 20px;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  @include border-radius(3px);
  @include transition(0.3s ease-in-out);
  &:hover {
    @include transition(0.3s ease-in-out);
  }
}
.gp-btn.active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -ms-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
a.gp-btn:hover {
  color: inherit;
}
.group-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .gp-btn {
    position: relative;
    float: left;
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .gp-btn+.gp-btn {
    margin-left: -1px;
  }
}
.group-btn-justify {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  .gp-btn, .group-btn {
    display: table-cell;
    float: none;
    width: 1%;
    text-align: center;
  }
  .group-btn .gp-btn {
    width: 100%;
  }
}
.default-btn {
  background: #f5f5f5;
  color: #444;
  border-width: 1px;
  border-color: #ccc;
  &:hover {
    background: #ddd;
    border-color: #bbb;
  }
}
.default-btn.active {
  background: #ddd;
  border-color: #bbb;
}
.basic-btn {
  background: $gpgreen;
  color: #fff;
  border-width: 1px;
  border-color: $gpdarkgreen;
  &:hover {
    background: $gpdarkgreen;
    border-color: $gpgreen;
  }
}
.basic-btn.active {
  background: $gpdarkgreen;
  border-color: $gpgreen;
}
a.basic-btn:hover,
a.txt-white:hover {
  color: #fff;
}
.alert-btn {
  background: $gpred;
  color: #fff;
  border-width: 1px;
  border-color: $gpdarkred;
  &:hover {
    background: $gpdarkred;
    border-color: $gpred;
  }
}
.btn-large {
  font-size: 20px;
}
.btn-small {
  font-size: 12px;
  line-height: 12px;
}
.gp-border-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  &:hover {
    background: #f5f5f5;
    color: $gpgreen;
  }
}
.gp-border-darkgrey {
  border: 1px solid $gpdarkgrey;
  color: $gpdarkgrey;
  &:hover {
    background: #f5f5f5;
    color: $gpgreen;
  }
}
/* .gp-btn-black, 
.gp-btn.black {
  background-color: $black;
  color: #f5f5f5;
  &:hover {
    background-color: $gpdarkgrey;
    color: $black;
  }
}
.gp-btn.green, 
.gp-btn-green {
  color: #f0f0f0;
  &:hover {
    background-color: $gpdarkgrey;
    color: $black;
  }
} */
.gp-btn[disabled] {
  cursor: not-allowed;
  opacity: .65;
  filter:alpha(opacity="65");
}

/*! ======= END OF BUTTON STYLE ======= */