
@import "variables";
@import "mixins";

/* Code style */

code,kbd,pre,samp {
	font: {
		family: monospace, serif;
		size: 1em;
	}
}
code {
  padding: 2px 4px;
  background-color: #D9F7F0;
  color: #0A755F;
  @include border-radius(5px);
}

pre {
  display: block;
  padding:10px;
  margin:0 0 10px;
  font-size:13px;
  color:#555;
  background-color: #f4f4f4;
  border:1px solid #ddd;
  word-break:break-all;
  word-wrap:break-word;
  @include border-radius(3px);
  code{
    white-space: pre-wrap;
    background-color:transparent;
    color:#fff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
  }
}
mark {
  background: #ff0;
  color: #000;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.block-example, .block-example-table, .block-example-demo {
	background-color:#fff;
	border:1px solid #ddd;
	@include border-radius(3px);
	position:relative;
	padding:46px 16px 16px;
	&:after{
		position:absolute;
		top:16px;
		left:16px;
		font-size:12px;
		font-weight: bold;
		text-transform: uppercase;
		color:#999999;
		content:"Example";
	}
}
.block-example h1, .block-example h2, .block-example h3, .block-example h4, .block-example h5, .block-example h6 {
  margin: 0;
}

.nowrap{
  white-space: nowrap;
}
