@import "variables";
@import "mixins";

.none, .hide {
  display: none !important;
}
.inline-block, .inline-left {
  display: inline-block;
}
.inline-left {
  margin-right: -5px;
}
.inline {
  display: inline;
}
.block, .show {
  display: block !important;
}
.inherit {
  display: inherit;
}
.initial {
  display: initial;
}
.flex {
  display: flex;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.left:before, .right:before{
  clear: both;
}
.a-left {
  text-align: left;
}
.a-center {
  text-align: center;
}
.a-right {
  text-align: right;
}
.a-justify{
  text-align: justify;
}
.clear {
	clear: both;
	&:before {
		display: table;
		content: "";
	}
	&:after {
		display: table;
		content: "";
	}
}

/* Label */
.label {
  display: inline;
  padding: 5px 10px;
  font-size: 75%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius(5px);
}
.label.default {
  background: #666;
}