
@import "variables";

/* Mixins Border Radius*/
@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

/* Mixins Transition */
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

/* Mixins Box Shadow */
@mixin box-shadow($box-shadow){
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

/* Mixins Text Shadow */
@mixin text-shadow($text-shadow){
	-webkit-text-shadow: $text-shadow;
	-moz-text-shadow: $text-shadow;
	-ms-text-shadow: $text-shadow;
	text-shadow: $text-shadow;
}