/*! ======= NAVIGATION MENU SYSTEM ======= */

@import "variables";
@import "mixins";

nav{
  
  &:before{
    content:"";
    display:table;
  }
  &::after{
    content:"";
    display:table;
    clear:both;
  }
}

.navi-bar{
  position: relative;
  min-height: 52px;
}
.navi-bar-default{
  background-color:#444;
}
.navi-bar-white{
  background-color:#f4f4f4;
}
.navi-bar > .container .navi-logo, .navi-bar > .navi-logo{
  @media (min-width: $screen-small){
    margin-left:-15px;
  }
}
.navi-logo{
  float:left;
  height:52px;
  padding:16px;
  font-size:20px;
  line-height: 20px;
}
.navi-bar-default .navi-logo{
  color:#ccc;
}
.navi-bar-white .navi-logo{
  color:#666;
}
.navi{
  padding-left:0px;
  margin-bottom:0px;
  list-style: none;
  &:before, &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.navi > li{
  position: relative;
  display: block;
}
.navi > li > a{
  position: relative;
  display: block;
  padding:10px 15px;
}
.navi > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.navi-menu{
  /*margin:0px 15px;*/
  @media (min-width: $screen-small){
    float:left;
    margin:0px;
  }
}
.navi-menu > li{
  @media (min-width: $screen-small){
    float:left;
  }
}
.navi-bar-default .navi-menu > .active > a, .navi-bar-default .navi-menu > .active > a:hover, .navi-bar-default .navi-menu > .active > a:focus{
  color:#d5d5d5;
  background-color:#222;
}
.navi-bar-white .navi-menu > .active > a, .navi-bar-white .navi-menu > .active > a:hover, .navi-bar-white .navi-menu > .active > a:focus{
  color:#444;
  background-color:#eee;
}
.navi-bar-default .navi-menu > li > a{
  color:#f5f5f5;
  @media (min-width: $screen-small){
    padding-top:16px;
    padding-bottom:16px;
  }
  &:hover{
    background-color: #222;
  }
}
.navi-bar-white .navi-menu > li > a{
  color:#555;
  @media (min-width: $screen-small){
    padding-top:16px;
    padding-bottom:16px;
  }
  &:hover{
    background-color: #eee;
  }
}

.navi-menu > li > a{
  padding-top:10px;
  padding-bottom:10px;
  line-height: 20px;
}

.navi-menu li{
  ul{
    position:absolute;
    padding-left:0px;
    list-style: none;
    border:1px solid #eee;
    display: none;
    li{
      position: relative;
      z-index: 9;
      &:last-child a{
        border-bottom:0;
      }
      a{
        padding:8px 16px;
        display:inherit;
        background:#f7f7f7;
        color:#888;
        border-bottom:1px solid #fff;
        font-size:13px;
        min-width: 140px;
        &:hover{
          color:#555;
          background-color:#ddd;
        }
      }
      ul{
        position: absolute;
        left:100%;
        top:0;
        li{
          a{
            padding:8px 16px;
            display:inherit;
            background:#f7f7f7;
            color:#888;
            border-bottom:1px solid #fff;
            font-size:13px;
            min-width: 140px;
            &:hover{
              color:#555;
              background-color:#ddd;
            }
          }
        }
      }
    }
  }
}

.vertical-menu .navi-menu ul{
  position: relative;
}

.vertical-menu ul.navi-menu{
  width:100%;
  li{
    float:none;
    a{
      padding-top:10px;
      padding-bottom:10px;
    }
    ul{
      display:block;
      li{
        z-index: 8;
      }
    }
  }
}


.dropdown{
  position: relative;
}

.navi-bar-default .navi-menu > .open > a, .navi-bar-default .navi-menu > .open > a:hover, .navi-bar-default .navi-menu > .open > a:focus {
  color:#555;
  background-color:#e5e5e5;
}

.navi-tabs {
  border-bottom: 1px solid #ddd;
  li.active a {
    background-color: #eee;
    color: #555;
    cursor: default;
  }
  @media (min-width: $screen-small) {
    li {
      float: left;
      margin-bottom: -1px;
      a{
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        &:hover {
          border-color: #eee #eee #ddd;
        }
      }
    }
    li.active a {
      color: #555;
      cursor: default;
      background: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
    }
  }
}
.navi-justify {
  width: 100%;
  li {
    float: none;
  }
  @media (min-width: $screen-small) {
    li {
      display: table-cell;
      width: 1%;
    }
  }
}
.navi-tabs.navi-justify {
  li a {
    margin-bottom: 5px;
    text-align: center;
  }
  @media (min-width: $screen-small) {
    li a {
      margin-bottom: -1px;
    }
    .active a {
      border: 1px solid #ddd;
      border-bottom-color: transparent;
    }
  }
}

.navi-buttons {
  @media (min-width: $screen-small) {
    li {
      float: left;
      a {
        @include border-radius(4px);
      }
    }
    li.active a {
      color: #333;
      background: #eee;
      border: 1px solid #ddd;
    }
  }
}
.navi-buttons.navi-justify {
  li {
    float: none;
    a {
      text-align: center;
    }
  }
}


.gp-nav-menu{
  ul{
    margin:0px;
    padding:0px;
  }
  li{
    display:inline-block;
    a{
      padding:10px 20px;
      color:#333;
      font-size:16px;
      &:hover{
        color:$gpgreen;
      }
    }
  }
}

/*! Dropdown menu */
.gp-jschild-menu{
  position:absolute;
  left:0;
  padding:0 40px;
  box-shadow:0 0 16px #c0c0c0;
  -webkit-box-shadow:0 0 16px #c0c0c0;
  -moz-box-shadow:0 0 16px #c0c0c0;
  -ms-box-shadow:0 0 16px #c0c0c0;
  -o-box-shadow:0 0 16px #c0c0c0;
  border-bottom:1px solid #fff;
  z-index:-2;
}
span.gp-child-menu-close{
  position:relative;
  display:block;
  width:16px;
  height:16px;
  margin:0 auto;
  text-align:center;
  cursor:pointer;
  @include transition(0.5s ease-in-out);
  &:hover{
    bottom:5px;
    @include transition(0.5s ease-in-out);
  }
}

/*! Wordpress menu style */

/*! ======= END OF NAVIGATION MENU SYSTEM ======= */
