/*! Preloader */
#preloader {
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #393939;
  z-index: 999999
}
#loading_load{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  position:fixed;
  z-index: 9999999999
}
#loading_load div{
  width: 400px;
  margin: auto;
  height: 3px;
  text-align: center;
  box-shadow:0px 0px 5px #494949;
  overflow: hidden
}
#preloader div {
  width: 128px;
  margin: auto;
  height: 128px;
  text-align: center;
  /*border: 4px solid #111;*/
  overflow: hidden
}
#preloader_image {
  position: relative;
  left: 0;
  top: 0;
}
#loaderimage {
  position: relative;
  left: 0;
  top: -10px
}
/* en of preloader  */

.backtop{
  position:fixed;
  bottom:30px;
  right:10px;
  z-index:99999999999;
  display:block;
  padding:14px 10px;
  color:#ddd;
  background:#111;
  cursor:pointer;
  display:none;
  opacity:0.6;
}
.backtop p {
  position:relative;
  margin:0px;
}


.highlight {
    padding: 9px 14px;
    margin: 15px 10px 15px 0px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}
.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    white-space: nowrap;
    overflow: auto;
}
.highlight pre code {
    font-size: inherit;
    color: #333;
}
.highlight pre .lineno {
    display: inline-block;
    width: 22px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    color: #bebec5
}

code span{float:left;}
code .tab1{
  margin-left:20px;
}
span.comment{
  margin-left:20px;
  color:#aaa;
  font-style:italic;
}

.hll {
    background-color: #ffc
}
.c {
    color: #999
}
.err {
    color: #A00;
    background-color: #FAA
}
.k {
    color: #069
}
.o {
    color: #555
}
.cm {
    color: #999
}
.cp {
    color: #099
}
.c1 {
    color: #999
}
.cs {
    color: #999
}
.gd {
    background-color: #FCC;
    border: 1px solid #C00
}
.ge {
    font-style: italic
}
.gr {
    color: red
}
.gh {
    color: #030
}
.gi {
    background-color: #CFC;
    border: 1px solid #0C0
}
.go {
    color: #AAA
}
.gp {
    color: #009
}
.gu {
    color: #030
}
.gt {
    color: #9C6
}
.kc {
    color: #069
}
.kd {
    color: #069
}
.kn {
    color: #069
}
.kp {
    color: #069
}
.kr {
    color: #069
}
.kt {
    color: #078
}
.m {
    color: #F60
}
.s {
    color: #d44950
}
.na {
    color: #4f9fcf
}
.nb {
    color: #366
}
.nc {
    color: #0A8
}
.no {
    color: #360
}
.nd {
    color: #99F
}
.ni {
    color: #999
}
.ne {
    color: #C00
}
.nf {
    color: #C0F
}
.nl {
    color: #99F
}
.nn {
    color: #0CF
}
.nt {
    color: #2f6f9f
}
.nv {
    color: #033
}
.ow {
    color: #000
}
.w {
    color: #bbb
}
.mf {
    color: #F60
}
.mh {
    color: #F60
}
.mi {
    color: #F60
}
.mo {
    color: #F60
}
.sb {
    color: #C30
}
.sc {
    color: #C30
}
.sd {
    color: #C30;
    font-style: italic
}
.s2 {
    color: #C30
}
.se {
    color: #C30
}
.sh {
    color: #C30
}
.si {
    color: #A00
}
.sx {
    color: #C30
}
.sr {
    color: #3AA
}
.s1 {
    color: #C30
}
.ss {
    color: #FC3
}
.bp {
    color: #366
}
.vc {
    color: #033
}
.vg {
    color: #033
}
.vi {
    color: #033
}
.il {
    color: #F60
}
.css .o, .css .o+ .nt, .css .nt+ .nt {
    color: #999
}

/* ======= HEADER ======= */
/*header{
  background:#f0f0f0;
  border-bottom:3px solid #e5e5e5;
  .wrap-header{
    padding:10px 60px;
  }
}*/
.logo{
  h2{
    font-family: "chunkfive", Helvetica, Arial, sans-serif;
    margin:0px 0px;
    font-size:2em;
    font-weight:normal;
    text-transform:uppercase;
  }
  margin-right:20px;
  display:inline-block;
}
/* ======= END OF HEADER ======= */

span.css3-ico,span.html5-ico{
  position:absolute;
  font-size:10em;
  color: rgba(255,255,255, 0.7);
}
span.css3-ico{
  right:200px;
  bottom:-15px;
}
span.html5-ico{
  right:60px;
  bottom:-10px;
}

.grid-demo{
  /*background:#eee;*/
  border:1px solid #fff;
}
.grid-demo[class^=gp-]{
  padding:0px;
  /*background:#eee;*/
}

.html-example{
  position: relative;
  pre{
    padding:0px 10px;
    margin-top:0px;
    margin-bottom:0px;
    background-color:#333;
    word-break:normal;
    word-wrap:nowrap;
    white-space: nowrap;
    code{
      font-family: sans-serif;
    }
  }
  code{
    background-color:transparent;
    color:#fff;
    &:first-child{
      display:inline-block;
    }
  }
  &:after{
    position:absolute;
    top:16px;
    left:16px;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    color:#999999;
    content:"HTML used";
  }
}

span.nt{
  color:#FF5182;
}
span.na{
  color:#87EC45;
}
span.s{
  color:#e6db74;
}

nav.doc-menu{
  position: fixed;
  top: 0;
  width: 240px;
  height: 100%;
  overflow-y: scroll;
  ul:last-child {
    border-bottom: 0;
  }
  li {
    border-bottom: 1px solid #fff;
  }
}

nav.doc-menu li a {

}

.block-example {
  border-radius: 4px 4px 0 0;
}
.block-example-table {
  border-radius: 4px 4px 0 0;
}
.block-example+.html-example pre{
  border-radius: 0 0 4px 4px;
}
.block-example table tr:first-child td{
  border-top: 0;
}
.block-example table td{
  padding: 16px 0;
}
span.typo-info {
  color: #999;
}
html .vertical-menu ul.navi-menu li a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.block-example .pagi {
  margin: 0;
}
.for-label h1, .for-label h2, .for-label h3, .for-label h4 {
  margin-top: 20px;
  margin-bottom: 10px;
} 

/*span.version{
  margin-left:20px;
  font-size:16px;
  opacity:0.7;
}*/

/* ======= FOOTER ======= */
.doc-footer{
  position: relative;
}

footer p{
  color: rgba(255,255,255, 0.7);
}
footer a.footer-link{
  color: #fff;
  &:hover{
    opacity: 0.8;
    text-decoration: underline;
  }
}
/*footer{
  .wrap-footer{
    width:100%;
    padding:0 40px;
  }
    background:#1b926c;
    width:100%;
    height:70px;
    position:relative;
    bottom:0;
    p.copyright{
        padding-top:26px;
        color:rgba(255,255,255, 0.6);
        font-size:13px;
    }
    &:before{
      clear:both;
    }
}*/
/* ======= END OF FOOTER ======= */
