/*! TYPOGRAPHY Style */

@import "variables";

@for $i from 1 through 8{
	.weight-#{$i * 100} {
		font-weight: 100 * $i;
	}
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $body-font;
    weight: 500;
  }
  line-height: 1.3;
  color: inherit;
}

h1, .h1, h2, .h2, h3, .h3{
  margin-top:20px;
  margin-bottom:10px
}
h4, .h4, h5, .h5, h6, .h6{
  margin-top:10px;
  margin-bottom:10px;
}

h1, .h1 {
  font-size: 38px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}
.gp-title{
  font-family: "league_gothic", Helvetica, Arial, sans-serif; 
}
.gp-logo{
  font-family: "chunkfive", Helvetica, Arial, sans-serif;
}
.f-chunkfive{
  font-family: "chunkfive", Helvetica, Arial, sans-serif;
}
.f-league{
  font-family: "league_gothic", Helvetica, Arial, sans-serif;
}
.f-typoslab{
  font-family: "typoslab", Helvetica, Arial, sans-serif;
}
.f-modernsans{
  font-family: "modern_sans", Helvetica, Arial, sans-serif;
}
.f-allura{
  font-family: "allura", Helvetica, Arial, sans-serif;
}
.f-alfaslab{
  font-family: "alfaslab", Helvetica, Arial, sans-serif;
}
.f-amaranth{
  font-family: "amaranth", Helvetica, Arial, sans-serif;
}
.f-amaranthbold{
  font-family: "amaranthbold", Helvetica, Arial, sans-serif;
}

/*! Font sizing */
@for $i from 10 through 100{
  .font-#{$i} {
    font-size: 1px * $i;
  }
}
@for $i from 1 through 10{
  .font-em#{$i} {
    font-size: 1em * $i;
  }
}
/*! End of Sizing */

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small{
  font-size: 65%;
  opacity: 0.7;
}
small, .small {
  font-size:85%;
}

.intro {
  font-size: 20px;
}

.a-left{
  text-align:left;
}
.a-center{
  text-align:center;
}
.a-right{
  text-align:right;
}
.a-justify{
  text-align:justify;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.unstyle-list{
  list-style: none;
}
.unlist{
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  position: relative;
  padding: 10px 20px 10px 40px;
  margin: 0 0 20px;
  font-size: 18px;
  border-left: 4px solid #ddd;
  &:before {
    position: absolute;
    left: 5px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
    content: "\f10d";
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    display: block;
    font-size: 80%;
    color: #666;
    &:before {
      content: "__ ";
    }
  }
}
.blockquote-right {
  padding: 0 40px 0 0;
  text-align: right;
  border-right: 4px solid #ddd;
  border-left: 0;
  &:before {
    content: "";
  }
  &:after {
    position: absolute;
    right: 5px;
    top: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: table;
    clear: both;
    color: #999;
    content: "\f10e";
  }
  footer {
    &:before {
      content: "";
    }
    &:after {
      content: " __";
    }
  }
}

/*! End of TYPOGRAPHY Style */