<footer class="green ptop-3 pbottom-2 txt-white doc-footer">
	<div class="container">
		<div class="gp-r">
			<div class="gp-c4-mc a-center">
				<p>
					Galss V1.1.0 - Development & Designed by <a href="http://www.gapraart.com" class="footer-link" target="_blank">Galih Pranowo</a><br/>
					Code licensed under <a href="http://opensource.org/licenses/mit-license.html" class="footer-link" target="_blank">MIT Licensed</a> - Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" class="footer-link" target="_blank">CC BY 3.0</a>
				</p>
				<p>
					<a href="https://github.com/gapra/galss-docs" class="footer-link" target="_blank">GitHub</a> - <a href="http://galss.herokuapp.com/gettingstarted" class="footer-link">Getting Started</a> - <a href="http://galss.herokuapp.com/documentations" class="footer-link">Documentation</a> - <a href="http://galss.herokuapp.com/templates" class="footer-link">Templates</a> - <a href="http://galss.herokuapp.com/about" class="footer-link">About</a> - <a href="http://galss.herokuapp.com/blog" class="footer-link">Blog</a>
				</p>
				<p class="font-20 opa-8 mtop-2">
					<a href="#" class="footer-link"><i class="fa fa-facebook"></i></a> . <a href="#" class="footer-link"><i class="fa fa-twitter"></i></a> . <a href="#" class="footer-link"><i class="fa fa-linkedin"></i></a> . <a href="https://github.com/gapra/galss-docs" class="footer-link"><i class="fa fa-git"></i></a>
				</p>
			</div>
		</div>
	</div>
</footer>